@import "../../responsive/responsive.scss";
.menu {
    .container {
        display: flex;
        flex-direction: column;

        .span {
            font-size: 16px;
            color: #999;
            @include lg {
                display: none;
            }
        }

        .categories {
            display: flex;
            align-items: center;
            margin: 5px 20px;
            font-size: 16px;
            font-weight: 500;
            
            
           
           .themes{
            @include lg {
                display: none;
            }
           }
            
        }

        
        .link {
            text-decoration: none;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 10px;
            @include lg {
                margin: 10px 0;
                gap: 0;
            }
          
            &:hover {
                cursor: pointer;
                background: #999;
            }
        }
    }
}