.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:20px;

    .place{
        display: flex;
        flex-direction: column;
        padding: 30px;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-size: 14px;
    }

    hr{
        width: 99%;
    }
}