
*{
  margin: 0;
  padding: 0;
}


.main{
  width: 100%;
  background: #272E3D;
  color: #fff;
  .conteiner{
    display: flex;
    .menuContainer{
      width: 180px;
      padding: 0 20px;
      border-right: 1px solid #999;
      @media screen and (max-width: 768px){
        width: max-content;
        
      }
    }
    .contentContainer{
      width: 100%;
      padding: 0 20px;
    }
  }
}